#SYSINFO
TZ=
UID=
GID=

#PATHS
DATA_PATH=

#DATADOG
DD_SITE=
DD_API_KEY=

#smtp
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

#ldap
LDAP_SERVER=
LDAP_PORT=
LDAP_BASE=
LDAP_FILTER=
LDAP_BIND_DN=
LDAP_BIND_PASS=
